
{% block footer %}

<!-- ################### Footer Section Begin ################### -->

<footer class="footer_main d-flex align-items-center flex-column py-5" id="footer_section">
    <div class="social_media d-flex gap-3 mb-3">
      <a href="#">
        <img src="assets/main/img/facebook.svg" alt="facebook icon" width="30px" height="30px">
      </a>
      <a href="https://github.com/mansuroff123" target="_blank">
        <img src="assets/main/img/github.svg" alt="github icon" width="30px" height="30px">
      </a>
      <a href="#">
        <img src="assets/main/img/twitter.svg" alt="twitter icon" width="30px" height="30px">
      </a>
      <a href="#">
        <img src="assets/main/img/linkedin.svg" alt="linkedin icon" width="30px" height="30px">
      </a>
    </div>
    <p class="copyright text_cs">Copyright ©2023 All rights reserved</p>
  
  </footer>
  
  <!-- ################### Footer Section End ################### -->
  
  
  

{% endblock %}